snippet cp
	#include <cstdio>
	#include <cstring>
	#include <algorithm>
	using namespace std;

	#define debug printf
	typedef long long ll;

	${0}

	int main() {
		return 0;
	}

snippet mainn
	int main() {
		${0}
		return 0;
	}
