snippet err
	if err != nil {
		return err
	}

snippet ; e
	; err != nil {
		return err
	}

snippet main
	func main() {
		$0
	}

snippet defer
	defer func() {
		$0
	}()

snippet go
	go func() {
		$0
	}()
