snippet <!
	<!doctype html>
	<html>
	<head>
		<meta encoding="utf-8">
		<title>$1</title>
	</head>
	<body>$0
	</body>
	</html>
snippet <md-input
	<md-input-container>
	  <input mdInput type="text"$0>
	</md-input-container>
snippet (
	(\$event
