snippet <!
	<!doctype html>
	<html>
	<head>
		<meta charset="utf-8">
		<title>$1</title>
	</head>
	<body>$0
	</body>
	</html>
snippet <md-input
	<md-input-container>
	  <input mdInput type="text"$0>
	</md-input-container>
snippet (
	(\$event
snippet vue
	<template>
	</template>

	<script>
	export default {
		name: '$0',
		props: [],
		data: () => ({
		}),
	};
	</script>

	<style lang="scss" scoped>
	</style>
