# See also ./javascript.snippets
# See also ./javascriptreact.snippets
# See also ./typescriptreact.snippets
snippet log
	console.log(${1:'oops'});

snippet main
	export function main(args: string[]) {
		$0
	}

	if (require.main === module) {
		main(process.argv);
	}

snippet t.
	this.$1 = $1$0;
